body{
  background-image: url(../fond.jpg);
  margin: 0;
  padding: 0;
}

#banner {
    height: 8%;
    border-bottom: solid;
}

h1 {
    text-align: center;
    font-style: italic;
}

#menu {
    width: 15%;
    border-right: solid;
    height: 100%;
    background-color: rgba(36, 19, 12, 0.7);
    float: left;
    position: relative;
}

h3 {
    color: white;
    font-size: 20px;
}

textarea{
  resize: none;
  background: transparent;
}

ul{
  list-style: none;
}

#head{
  background-image: url(../fond.jpg);
}

table, th, td{
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

input[type="text"]
{
    background: transparent;

}

input[type="number"]
{
    background: transparent;
    width: 30%;
}

input[type="password"]
{
    background: transparent;
}

.without_deco{
  text-decoration: none;
  color: black;
  border: none;
}

.inp{
  width: 2px;
}
